html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: "Google Sans", sans-serif;
    font-size: 1rem;
    color: #637282;
    font-weight: normal;
    overflow-x: hidden;
    letter-spacing: -.3px;
}

html body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.google-one {
    color: #557DBF;
    font-weight: 400;
}

.google-two {
    color: #E1382B;
    font-weight: 400;
}

.google-three {
    color: #FBBC12;
    font-weight: 400;
}

.google-four {
    color: #189E59;
    font-weight: 400;
}


.google-sans {
    font-family: 'Google Sans';
    font-weight: normal;
    letter-spacing: -.3px;
}

.google-blue-back {
   /* background-color: #1270c0 !important;*/
}

.container {
    width: 85% !important;
}

.logoImage {
    width: 90% !important;
    margin-top: 5px;
}

.margin-all-10 {
    margin: 10px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-bottom--3 {
    margin-bottom: -3px !important;
}


hr {
    height: 0.1px;
    background-color: rgba(99, 114, 130, 0.8);
}

h2,
.h2 {
    line-height: 1.44;
}

h2 {
    font-size: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #1B2733;
    font-family: "Google Sans", sans-serif;
    font-weight: 700;
}

.h5,
h5 {
    font-size: 1rem;
}

h6 {
    font-weight: 200;
}

.h6,
h6 {
    font-size: 0.8rem;
}

.titlename {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 30px;
}

.navonscroll {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    background: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

nav ul li a {
    font-family: 'Google Sans';
    font-weight: bold;
    color: #637282;
    letter-spacing: -.3px;
    font-size: 0.9rem;
}

.brand-logo img {
    width: 64px;
    padding: 5px;
    margin-top: 10px;
}

.fixed {
    max-width: 350px !important;
}

.btncustom {
    text-transform: unset;
    background: #2F5BE7 !important;
    font-size: 0.9rem;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.btncustomviolet {
    text-transform: unset;
    background: #673AB7 !important;
    font-size: 0.9rem;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.btncustomskyblue {
    text-transform: unset;
    background: ##26a69a !important;
    font-size: 0.9rem;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.btncustomgreen {
    text-transform: unset;
    background: #0f9d58 !important;
    font-size: 0.9rem;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.btncustomred {
    text-transform: unset;
    background: #db4437 !important;
    font-size: 0.9rem;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.btncustom:hover {
    color: #FFFFFF;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 110, 255, 0.4);
    background: #007BFF !important;
    transition: 0.5s;
}

.border-radius {
    border-radius: 35px;
}

#one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 550px;
}

.lead {
    font-weight: normal;
    line-height: 29px;
    
    font-size: 1.25rem;
}


#one img {
    max-width: 80%;
    margin-left: auto;
}

.memberbutton {
    height: 40px;
    line-height: 40px;
}

.memberbuttondiv,
.sendusemail {
    margin-bottom: 25px;
}

.sidebarName {
    margin-top: -15px;
    font-size: 20px;
    font-weight: 400;
}

.sidebarImage {
    margin-top: 50px;
}


.blue-icon {
    font-size: 40px;
    padding-bottom: 20px;
    -webkit-text-stroke: 2px #557DBF;
    color: transparent;
}

.green-icon {
    font-size: 40px;
    padding-bottom: 20px;
    -webkit-text-stroke: 2px #189E59;
    color: transparent;
}

.red-icon {
    font-size: 40px;
    padding-bottom: 20px;
    -webkit-text-stroke: 2px #E1382B;
    color: transparent;
}

#overview .card {
    -webkit-box-shadow: 0 0 15px rgba(99, 114, 130, 0.3);
    box-shadow: 0 0 15px rgba(99, 114, 130, 0.3);
    margin-bottom: 30px;
    padding: 25px 30px;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 350px !important;
    overflow: hidden;
}

.card .card-content {
    padding: 10px !important;
}

.feature-title {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px
}

.feature-content {
    color: #637282;
    font-size: 14px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    font-size: 14px;
    line-height: 22px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}



.header {
    margin-bottom: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

.card-panel ul {
    display: block;
    margin: 0 0 0;
    padding-left: 20px;
    list-style-type: none;
    font-size: 15px;
    text-indent: -1em;
}

.opp .row,
.faq .row {
    margin-bottom: 1px;
}

.opp .card-panel,
.faq .card-panel {
    padding: 10px;
    padding-bottom: 8px !important;
}

.section-spacer {
    padding: 80px 0;
}

.techcolorgrey {
    background-color: #fafafa;
}


.techcolorwhite{
    background-color: #ffffff;
}

.tech img {
    max-width: 80% !important;
    height: auto;
}

.section-body {
    font-size: 15px;
    color: #637282;
}



@media only screen and (max-width: 600px) {
    .zuri {
        text-align: left;
        line-height: 1.5;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        width: 100% !important;
    }
}

@media only screen and (min-width:786px) {
    h2 {
        font-size: 30px;
        font-weight: 700;
    }
}

@media only screen and (max-width:768px) {
    .lead {
        font-size: 1rem;

    }


    .memberbuttondiv,
    .sendusemail {
        text-align: center;
    }

    .memberbutton {
        text-align: center;
    }

    #one .container {
        width: 100% !important;
    }

    #one img {
        max-width: 100% !important;
    }

    .container {
        width: 100% !important;
    }

    .logoImage {
        max-width: 75% !important;
        margin-top: 10px;
    }

    .section-spacer {
        padding: 60px 0 !important;
    }
}

.event-card {
    -webkit-box-shadow: 0 0 15px rgba(99, 114, 130, 0.3);
    box-shadow: 0 0 15px rgba(99, 114, 130, 0.3);
    border-radius: 5px;
    margin: 0 auto 20px;
}

.custcard {
    float: none;
    border-radius: 8px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    margin: 10px !important;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}


.custcard-img-top {
    width: 100%;
    max-height: 172px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.custcard img {
    vertical-align: middle;
    border-style: none;
}

.custcard-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.tagging {
    display: inline-flex;
    border-radius: 15px;
    font-size: 12px;
    padding: 0 0.8rem;
    max-width: 100px;
    text-align: center;
    height: 24px;
    line-height: 24px;
}

.custcard-title {
    margin-bottom: .75rem;
}

.past-event {
    border: 2px solid #007BFF;
    background-color: transparent;
    color: #007BFF;
    padding: 8px 18px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
}


.Intermediate {
    background-color: rgba(47, 231, 177, 0.2);
    color: #3BC1FD;
}

.Beginner {
    background-color: rgba(0, 255, 133, 0.2);
    color: #4AA277;
}

.Expert {
    background-color: rgba(253, 125, 68, 0.2);
    color: #FD7D44;
}

#loader {
    margin: 20px;
}

.hideLoader {
    display: none;
}

#footer span,
#footer a,
#team span,
#team a {
    font-size: 14px;
}

#footer ul,
#team ul {
    list-style-type: none;
    padding: 0;
}

.social-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer ul li:first-of-type {
    margin-top: 0;
}

#footer a:hover,
#team a:hover {
    text-decoration: none;
    color: #000000;
}

#footer a,
#team a {
    color: #637282;
}

#footer ul li a,
#team ul li a {
    line-height: 1;
}

#footer .social-list a {
    color: #637282;
    font-size: 22px;
    margin-left: 8px;
}

#team .social-list a {
    color: white;
    font-size: 18px;
    margin-left: 8px;
}

#team .social-list a:hover {
    color: black;

}

#footer ul li,
#team ul li {
    margin: 10px 0;
}

#footer li,
#team li {
    margin-right: 15px;
}

.social-list li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.footertitle {
    margin-bottom: 15px;
    font-size: 18px;
    color: #1B2733;
    font-weight: 700;
}

#team p {
    margin-bottom: 0px !important;
    color: #7f91a4;
}

#team .social-list {
    margin-bottom: 15px;
}

#team h2,
#team h5 {
     color: #1e2a38;
}

.colead img {
    max-width: 200px !important;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}


/* header,
main,
footer {
    padding-left: 300px !important;
} */

@media only screen and (max-width : 992px) {

    header,
    main,
    footer {
        padding-left: 0 !important;
    }
}

.tabs .tab a {
    color: #637282;
    font-weight: bold;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    color: #1B2733;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: transparent;
}

.tabs .indicator {
    background-color: #1B2733;
}

/* .border-radius {
    border-radius: 10px;
} */

/* Scroll Bar
/* width */
/* ::-webkit-scrollbar {
    width: 0px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #acacac;
    border-radius: 10px;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.507);
    border-radius: 10px;
}  */
